* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url(../../assets/bg.jpg);
}
.cards {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.bookCard {
  box-shadow: 0px 0px 1px gray;
  border-radius: 10px;
  width: 300px;
  height: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 8px;
  padding: 20px;
  transition: all 0.7s ease;
  background-color: #fff3c7;
  background-image: url(../../assets/card-img.jpg);
  color: #fff;
}

.link {
  color: rgb(0, 131, 207);
  text-decoration: none;
  width: 30px;
}

.bookCard:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 8px 0px gray;
}
